/*********************************************
 * CUSTOM STYLES by Bozydar
 *********************************************/
 
 .orginal_img{
    border: 0 !important;
    box-shadow: none !important;
    background: 0 !important
 }

.strokeme
{
    text-shadow:
            -2px -2px 0 #FFF,
            2px -2px 0 #FFF,
            -2px 2px 0 #FFF,
            2px 2px 0 #FFF !important;
}

.css_button
{
    font-size: 65%;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.css_button:hover {
    background-color: #323ba5;
}
